.hero-section{
  @include respond (minWidth768){
      height: calc(100vh - 8rem);
  }
  overflow: hidden;
  .bg-video {
      position: relative;
      width: 100%;
      max-width: 100%;
      height: 100%;
      z-index: 0;
      margin: auto;
      img{
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: top;
      }
      &__content{
          height: 100%;
          width: 100%;
          object-fit: contain;
      }
    }
    .volume-button {
      position: absolute;
      top: 50%;
      right: 10px;
      background: rgba(0, 0, 0, 0.5);
      color: white;
      border: none;
      border-radius: 50%;
      padding: 10px;
      cursor: pointer;
    }
}
.inner-tabs-area{
  z-index: 1;
  position: relative;
  
  @include respond (minWidth768){
    margin-top: -7rem;
  }
  .container{
      @include respond (minWidth1200){
          max-width: 90rem;
      }
  }
  @include tabsarea;
  .tab-content{
      padding-top: 4rem;
  }
}
.m-bottom {
  margin-bottom: 7rem;

  @include respond(maxWidth992) {
    margin-bottom: 5rem;
  }

  @include respond(maxWidth768) {
    margin-bottom: 3rem;
  }
}

.m-top {
  margin-top: 7rem;

  @include respond(maxWidth992) {
    margin-top: 5rem;
  }

  @include respond(maxWidth768) {
    margin-top: 3rem;
  }
}

.p-bottom {
  padding-bottom: 7rem;

  @include respond(maxWidth992) {
    padding-bottom: 5rem;
  }

  @include respond(maxWidth768) {
    padding-bottom: 3rem;
  }
}

.p-top {
  padding-top: 7rem;

  @include respond(maxWidth992) {
    padding-top: 5rem;
  }

  @include respond(maxWidth768) {
    padding-top: 3rem;
  }
}

.space-one {
  height: 4rem;

  @include respond(maxWidth992) {
    height: 3rem;
  }

  @include respond(maxWidth768) {
    height: 2.5rem;
  }
}

.space-two {
  height: 7rem;

  @include respond(maxWidth992) {
    height: 5rem;
  }

  @include respond(maxWidth768) {
    height: 3rem;
  }
}

.space-three {
  height: 2.5rem;

  @include respond(maxWidth992) {
    height: 2rem;
  }

  @include respond(maxWidth768) {
    height: 1.5rem;
  }
}

.primary-listing {
    li {
    position: relative;
    &:not(:last-child){
      padding-bottom: 1rem;
    }
    &:before {
      content: "";
      background: #ffbf46;
      position: absolute;
      width: 13px;
      height: 13px;
      top: 5px;
      left: -25px;
      border-radius: 50%;
      outline: 1px solid #ffbf46;
      border: 2px solid #ffffff;
    }
  }
}

.owl-nav {
  display: flex;
  justify-content: flex-end;
  gap: 5px;

  button {
    background: $colorPrimary !important;
    border: 1px solid $colorPrimary !important;
    height: 4.5rem;
    width: 4.5rem;

    i {
      color: rgba($colorWhite, $alpha: 1);
    }
  }
}
.owl-dots{
    .owl-dot{
      span{
        background: rgba($colorPrimary, 0.3)!important;
        margin: 5px 3px!important;
      }
      &.active{
        span{
          background: rgba($colorPrimary, 1)!important;
        }
      }
    }
  } 
  .row{
    row-gap: 3rem;
  }
  .map-grid {
    display: grid;
    @include respond (minWidth768){
        grid-template-columns: 55% 45%;
    }
    align-items: flex-end;

    .indiamapgrid {
        column-count: 2;

        .indiagriditems {
            padding-bottom: 7px;
        }

        p {
            display: flex;
            gap: 10px;
            line-height: 18px;
            align-items: baseline;
            font-size: 14px;

            span {
                display: block;
                aspect-ratio: 1;
                height: 14px;
                width: 14px;
                border-radius: 2px;
            }
        }
    }
}

.alfagrid {
    .alfagriditems {
        padding-bottom: 7px;
    }

    @media screen and (min-width:1400px) {
        column-count: 5;
    }

    @media screen and (min-width:992px) and (max-width:1399.9px) {
        column-count: 3;
    }

    @media screen and (min-width:575.9px) and (max-width:991.9px) {
        column-count: 3;
    }

    @media screen and (max-width:575.8px) {
        column-count: 2;
    }

    margin-top: 30px;

    p {
        display: flex;
        gap: 10px;
        line-height: 18px;
        align-items: baseline;
        font-size: 14px;

        span {
            display: block;
            aspect-ratio: 1;
            height: 14px;
            width: 14px;
            border-radius: 2px;
        }
    }
}

.modal-content {
  height: 100%;
  button.btn-close {
    position: absolute;
    right: -30px;
    top: -15px;
    z-index: 1;
    filter: invert(1);
    font-size: 20px;
}
.modal-body {
  padding: 0;
}
}
.modal-dialog.modal-dialog-centered {
    height: calc(100vh - 100px);
    max-width: calc(100vw - 200px);
}
.tab-content-wrapper .inner-section {
  display: none;
}